<!DOCTYPE HTML>
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/splash/splash-icon.png">
        <link rel="apple-touch-startup-image" href="images/splash/splash-screen.png"            media="screen and (max-device-width: 320px)" />  
        <link rel="apple-touch-startup-image" href="images/splash/splash-screen_402x.png"       media="(max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2)" /> 
        <link rel="apple-touch-startup-image" sizes="640x1096" href="images/splash/splash-screen_403x.png" />
        <link rel="apple-touch-startup-image" sizes="1024x748" href="images/splash/splash-screen-ipad-landscape" media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : landscape)" />
        <link rel="apple-touch-startup-image" sizes="768x1004" href="images/splash/splash-screen-ipad-portrait.png" media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : portrait)" />
        <link rel="apple-touch-startup-image" sizes="1536x2008" href="images/splash/splash-screen-ipad-portrait-retina.png"   media="(device-width: 768px)  and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)"/>
        <link rel="apple-touch-startup-image" sizes="1496x2048" href="images/splash/splash-screen-ipad-landscape-retina.png"   media="(device-width: 768px) and (orientation: landscape)    and (-webkit-device-pixel-ratio: 2)"/>
        <title>监控</title>
        <link href="styles/style.css"           rel="stylesheet" type="text/css">
        <link href="styles/framework.css"       rel="stylesheet" type="text/css">
        <link href="styles/owl.carousel.css"     rel="stylesheet" type="text/css">
        <link href="styles/owl.theme.css"       rel="stylesheet" type="text/css">
        <link href="styles/swipebox.css"         rel="stylesheet" type="text/css">
        <link href="styles/colorbox.css"         rel="stylesheet" type="text/css">
        <link href="styles/layui.css" rel="stylesheet" type="text/css">
        <script type="text/javascript" src="scripts/jquery.js"></script>
        <script type="text/javascript" src="scripts/jqueryui.js"></script>
        <script type="text/javascript" src="scripts/owl.carousel.min.js"></script>
        <script type="text/javascript" src="scripts/jquery.swipebox.js"></script>
        <script type="text/javascript" src="scripts/jquery.colorbox-min.js"></script>
        <script type="text/javascript" src="scripts/snap.js"></script>
        <script type="text/javascript" src="scripts/contact.js"></script>
        <script type="text/javascript" src="scripts/custom.js"></script>
        <script type="text/javascript" src="scripts/framework.js"></script>
        <script type="text/javascript" src="scripts/framework.launcher.js"></script>
        <script type="text/javascript" src="scripts/layui.all.js"></script>
        <script type="text/javascript" src="scripts/socket.io.js"></script>
    </head>
    <body class="layui-bg-cyan">
        <div class="top-deco">
            
        </div>
    <div class="content" style="margin: 0 auto" class="layui-bg-cyan">
        <div class="header">
            <a href="#" style="padding: 15px">
                <button style="height: 200"></button>
            </a>
            <a href="/" class="go-home">首页</a>
            <a href="#" class="go-menu">菜单</a>
            <a href="#" class="go-back">关闭</a>
            <a href="logout" class="go-out">退出</a>
        </div>
        <div class="navigation">
            <div class="corner-deco"></div>
            <div class="navigation-wrapper">
                <div class="navigation">
                    <div class="corner-deco">
                        
                    </div>
                    <div class="navigation-wrapper">
                        <div class="navigation-item">
                            <a href="/">首页</a>
                            <em class="active-menu"></em>
                        </div>
                        <div class="navigation-item">
                            <a href="download">离线下载</a>
                            <em class="active-menu"></em>
                        </div>
                        <div class="navigation-item">
                            <a href="storage">云存储</a>
                            <em class="active-menu"></em>
                        </div>
                        <div class="navigation-item">
                            <a href="theatra">家庭影院</a>
                            <em class="active-menu"></em>
                        </div>
                        <div class="navigation-item">
                            <a href="contact">音乐</a>
                            <em class="active-menu"></em>
                        </div>
                        <div class="navigation-item">
                            <a href="setting">设定</a>
                            <em class="activen-menu"></em>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="decoration"></div>
            <div class="layui-fluid" style="text-align: center;">
                <div class="layui-row layui-col-space20 layui-tab">
                    <li class="layui-nav-item layui-col-xs4 layui-col-md4">
                        <a class="layui-btn layui-btn-primary" href="javascript:void(0)">按钮模式</a>
                    </li>
                    <li class="layui-nav-item layui-col-xs4 layui-col-md4 layui-this">
                        <a class="layui-btn layui-btn-primary" href="javascript:void(0)">触摸模式</a>
                    </li>
                    <li class="layui-nav-item layui-col-xs4 layui-col-md4">
                        <a class="layui-btn layui-btn-primary" href="javascript:void(0)">鹰眼模式</a>
                    </li>
                </div>
            </div>
            <div class="display" style="text-align: center;">
                <canvas id="display" width="640" height="480">
                    你的浏览器暂不支持Canvas,请更换浏览器后再试
                </canvas>
            </div>
        </div>
                <div class="control" style="position: relative;width:200px;height:120px;">
                    <div style="position:absolute;left:110px;top:40px"><button id="right" class="layui-btn layui-btn-primary move" style="text-align: right;">右</button></div>
                    <div style="position:absolute;left:10px;top:40px"><button id="left" class="layui-btn layui-btn-primary move" style="text-align: left;">左</button></div>
                    <div style="position:absolute;left:60px;top:1px"><button id="up" class="layui-btn layui-btn-primary move" style="text-align: center;">上</button></div>
                    <div style="position:absolute;left:60px;top:80px"><button id="down" class="layui-btn layui-btn-primary move" style="text-align: center;">下</button></div>
                    <div style="position: absolute;left: 220px;top:1px"><button id="analyze" class="layui-btn layui-btn-primary image" value="开始分析">停止分析</button></div>
                    <div style="position: absolute;left: 250px;top:42px"><button id="screensheet" class="layui-btn layui-btn-primary image" value="照相">照相</button></div>
                    <div style="position: absolute;left: 250px;top:83px"><button id="recording" class="layui-btn layui-btn-primary image" value="停止录像">开始录像</button></div>
                </div>
            </div>
        </div>
        <div class="decoration">
            
        </div>         
        <div class="footer">
            <div class="clear">
                
            </div>
            <p class="copyright">
            	COPYRIGHT 2015.<br>
                ALL RIGHTS RESERVED
            </p>
            
        </div> 
    </div>

    <div class="bottom-deco"></div>
    <script type="text/javascript">
        $(function(){    
            layui.use('element', function(){
                var element = layui.element;
            });
            //window.addEventListener("deviceorientation", sendCommand, false);
            //显示宽度
            var displayWidth = null;
            //初始化陀螺仪信息
            var initLevel = null;
            var initVirt = null 
            //屏幕宽度
            var windowWidth = screen.width;
            var image = new Image();
            var canvas = document.getElementById("display");
            if(!isPC())
                //如果不为pc端,调制canvas宽度
                canvas.width = windowWidth*0.9;
                canvas.height = parseInt(canvas.width * 480 / 640)

            var ctx = canvas.getContext("2d");
            //建立websocket连接
            var socket=io.connect('127.0.0.1:3000')
            //设置缩放比例
            var scale = 3/4
            //方向映射
            var direction = {"right":'{"module":2,"command":0}',
                              "left":'{"module":2,"command":1}',
                                "up":'{"module":2,"command":3}',
                              "down":'{"module":2,"command":2}'}
            var buttonStatus = {"right":false,
                                 "left":false,
                                   "up":false,
                                 "down":false}
            //接收udp信息,转发给客户端
            socket.on("message",function(msg){
                var blob = new Blob([msg],{"type":"image\/jpeg"});
                image.src = window.URL.createObjectURL(blob);
                console.log("get message")
                image.onload = function(){
                    if(displayWidth == null){
                        //初始化
                        displayWidth = windowWidth < image.width?windowWidth*0.9:image.width;
                    }

                    ctx.drawImage(image,0,0,displayWidth,displayWidth * scale);
                }
            });

            function init(){
                bindButton();
                bindTabs();
            }
            function bindButton(){
                $("div.control").find("button.move").each(function(){
                    $(this).click(moveButtonAction)
                    $(this).mousedown(moveButtonPressed)
                    $(this).mouseup(moveButtonUp)
                    $(this).on("touchstart",moveButtonPressed);
                    $(this).on("touchend",moveButtonUp);
                });
                $("div.control").find("button.image").each(function(){
                    $(this).click(sendImageCommand);
                })
                window.setInterval(sendButtonCommand,40);
            }
            function bindTabs(){
                //绑定控制选项选择事件
                $("div.tabs").find("li").each(function(){
                    $(this).click(function(){
                        $(this).addClass("layui-this").siblings().removeClass("layui-this");

                    });
                });
            }
            function isPC() {
                //判断客户端是否为PC
                var userAgentInfo = navigator.userAgent;
                var Agents = ["Android", "iPhone",
                    "SymbianOS", "Windows Phone",
                    "iPad", "iPod"];
                var flag = true;
                for (var v = 0; v < Agents.length; v++) {
                    if (userAgentInfo.indexOf(Agents[v]) > 0) {
                        flag = false;
                        break;
                    }
                }
                return flag;
            }
            function sendCommand(event){
                //控制方式3,监听陀螺仪信息,发送到控制端
                virtAngle = parseInt(event.beta) >= 179?179:parseInt(event.beta);
                virtAngle = virtAngle <= 21?21:virtAngle
                levelAngle = parseInt(event.alpha) >= 179?179:parseInt(event.alpha)
                levelAngle = levelAngle < 1?1:levelAngle
                if(!initLevel){
                    //如果陀螺仪信息为初始化,初始化信息,移动以此为基准
                    initLevel = levelAngle;
                    initVirt = virtAngle;
                    return;
                }else{
                    if(Math.abs(initVirt - virtAngle) > 10 || Math.abs(initLevel - levelAngle) > 10){
                        socket.emit("command",
                            '{"module":1,"command":{"level":{"angle":'+levelAngle+',"speed":"10"},"virt":{"angle":'+virtAngle+',"speed":"10"}}}');
                        initLevel = levelAngle;
                        initVirt = virtAngle;
                    }
                }
            }
            function moveButtonAction(){
                //按钮事件
                socket.emit("command",direction[$(this).attr('id')]);
            }
            function sendButtonCommand(){
                //发送命令
                for(var type in buttonStatus){
                    if(buttonStatus[type]){
                        socket.emit("command",direction[type]);
                    }
                }
            }
            function sendImageCommand(){
                //发送图像控制命令
                socket.emit("imageCommand",'{"command":"'+$(this).attr("id")+'"}');
                var value = $(this).attr("value");
                $(this).attr("value",$(this).html());
                $(this).html(value);
            }
            function moveButtonPressed(){
                //按钮按下事件
                console.log("hhh");
                buttonStatus[$(this).attr("id")] = true;
                console.log(buttonStatus);
            }
            function moveButtonUp(){
                //按钮释放事件
                buttonStatus[$(this).attr("id")] = false
                console.log(buttonStatus);
            }
            init();
        })
    </script>
    </body>
</html>
