<!DOCTYPE HTML>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="user-scalable=no"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/splash/splash-icon.png">
<link rel="apple-touch-startup-image" href="images/splash/splash-screen.png" 			media="screen and (max-device-width: 320px)" />  
<link rel="apple-touch-startup-image" href="images/splash/splash-screen_402x.png" 		media="(max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2)" /> 
<link rel="apple-touch-startup-image" sizes="640x1096" href="images/splash/splash-screen_403x.png" />
<link rel="apple-touch-startup-image" sizes="1024x748" href="images/splash/splash-screen-ipad-landscape" media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : landscape)" />
<link rel="apple-touch-startup-image" sizes="768x1004" href="images/splash/splash-screen-ipad-portrait.png" media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : portrait)" />
<link rel="apple-touch-startup-image" sizes="1536x2008" href="images/splash/splash-screen-ipad-portrait-retina.png"   media="(device-width: 768px)	and (orientation: portrait)	and (-webkit-device-pixel-ratio: 2)"/>
<link rel="apple-touch-startup-image" sizes="1496x2048" href="images/splash/splash-screen-ipad-landscape-retina.png"   media="(device-width: 768px)	and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)"/>

<title>离线下载</title>

<link href="styles/style.css"     		rel="stylesheet" type="text/css">
<link href="styles/framework.css" 		rel="stylesheet" type="text/css">
<link href="styles/owl.carousel.css" 	 rel="stylesheet" type="text/css">
<link href="styles/owl.theme.css" 		rel="stylesheet" type="text/css">
<link href="styles/swipebox.css"		 rel="stylesheet" type="text/css">
<link href="styles/colorbox.css"		 rel="stylesheet" type="text/css">
<link href="styles/amazeui.min.css" rel="stylesheet" type="text/css">
<link href="styles/layui.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="scripts/jquery.js"></script>
<script type="text/javascript" src="scripts/jqueryui.js"></script>
<script type="text/javascript" src="scripts/owl.carousel.min.js"></script>
<script type="text/javascript" src="scripts/jquery.swipebox.js"></script>
<script type="text/javascript" src="scripts/jquery.colorbox-min.js"></script>
<script type="text/javascript" src="scripts/snap.js"></script>
<script type="text/javascript" src="scripts/contact.js"></script>
<script type="text/javascript" src="scripts/custom.js"></script>
<script type="text/javascript" src="scripts/framework.js"></script>
<script type="text/javascript" src="scripts/framework.launcher.js"></script>
<script type="text/javascript" src="scripts/socket.io.js"></script>
<script type="text/javascript" src="scripts/amazeui.min.js"></script>
<script type="text/javascript" src="scripts/layui.all.js"></script>
<style type="text/css">  
    ul li{
    list-style: none;
    margin-right:10px;
    }
</style>  
</head>
<body>

<div id="preloader">
	<div id="preloader">
    <div id="status">
        <p class="center-text">
            加载页面中...
            <em>页面加载中,请稍候...</em>
        </p>
    </div>
</div>
</div>

<div class="am-progress am-progress-xs" style="height: 5px">
    <div class="am-progress-bar am-progress-bar-danger" style="width: 100%"></div>
</div>   
<div class="content">
	<div class="header">
            <a href="#" style="padding: 15px">
                <button style="height: 200"></button>
            </a>
            <a href="/" class="go-home">首页</a>
            <a href="#" class="go-menu">菜单</a>
            <a href="#" class="go-back">关闭</a>
            <a href="logout" class="go-out">退出</a>
        </div>
    <div class="decoration"></div>
    
    <div class="navigation">
    	<div class="corner-deco"></div>
    	<div class="navigation-wrapper">
            <div class="navigation">
        <div class="corner-deco"></div>
        <div class="navigation-wrapper">
            <div class="navigation-item">
                <a href="/">首页</a>
                <em class="active-menu"></em>
            </div>
            <div class="navigation-item">
                <a href="camera">查看监控</a>
                <em class="active-menu"></em>
            </div>
            <div class="navigation-item">
                <a href="storage">云存储</a>
                <em class="active-menu"></em>
            </div>
            <div class="navigation-item">
                <a href="theatra">家庭影院</a>
                <em class="active-menu"></em>
            </div>
            <div class="navigation-item">
                <a href="music">音乐</a>
                <em class="active-menu"></em>
            </div>
            <div class="navigation-item">
                <a href="setting">设定</a>
                <em class="activen-menu"></em>
            </div>
        </div>
    </div>
        </div>
    </div>
</div>

<div id="searchForm" method="post">
        <div class="am-form-inline center" style="width:90%;margin:80px;">
            <div class="am-form-group" style="width:50%">
                <input type="text" class="am-form-field am-radius url" placeholder="输入下载路径" style="width:100%"/>
            </div>
            <div class="am-form-group">
                <button class="am-btn am-btn-bg download">
                    <i class="am-icon-cloud-download"></i>下载</button>
                </button>  
            </div>
        </div>
        <div class="center am-form-inline chooseBox layui-tab-brief">
            <ul class="icons am-form-group layui-tab-title" style="">
                <li class="images wid btnTabs" dataType="VideoDownload" title="">音视频</li>
                <li class="web wid btnTabs" dataType="normalDownload" title="">普通</li>
                <li class="news wid btnTabs" dataType="btDownload" title="">bt</li>

                <li class="videos wid btnTabs" dataType="VideoDownload" title="">图片</li>
                <li class="videos wid btnTabs" dataType="message" title="">说明</li>
            </ul>
        </div>
        <div style="height: 300px">
        </div>
</div>

<div class="content">
<div class="decoration"></div>            
    <div class="footer">
        <div class="clear"></div>
        <p class="copyright">
            COPYRIGHT 2018.<br>
            ALL RIGHTS RESERVED
        </p>
    </div> 
    
</div>
<div class="bottom-deco"></div>
</body>
<script type="text/javascript">
  $(function(){
        var nowUrl = window.document.location.href;
        var rootPath = nowUrl.substring(0,nowUrl.indexOf(window.document.location.pathname));
        var isTip = true;
        var downloadType;
        var preMessage = ""
        var testVideoStartMessage = /title/;
        var searchPrograss = /(\d.*?)\%/;
        //发送下载请求
        function downloadUrl(url,reqUrl){
            var vaildateResult = vaildate(url,"下载路径",[notEmpty]);
            if(vaildateResult['code'] < 0){
                layer.msg(vaildateResult['note']);
                return;
            }
            if(!reqUrl){
                layer.msg('下载类型不能为空');
                return;
            }
            var socket=io.connect(rootPath)
            socket.on("prograss",function(msg){
                if(testVideoStartMessage.test(msg)){
                    layer.msg("下载信息为："+msg);
                    console.log(msg);
                }else{
                    console.log(msg);
                    var prograss = searchPrograss.exec(msg)
                    if(prograss){
                        setPrograss(prograss[1]);
                    }
                }
                preMessage = msg;
            })
            socket.on("over",function(msg){
                layer.msg("download "+msg);
            })
            socket.on("disconnect",function(){
                socket.close();
                setPrograss(100);
            });
            $.ajax({
                url:reqUrl,
                type:"post",
                data:{
                  download_url:url
                },
                success:function(data){     
                  layer.msg(data);
                }
            })
        }
        //参数验证
        function vaildate(url,name,vaildates){
            result = {"code":1,note:""};
            if(!vaildates){
                return result;
            }
            for(var i = 0;i < vaildates.length;i++){
                var vaildateResult = vaildates[i](url);
                if(vaildateResult['code'] < 0){
                    result['note'] = name+vaildateResult['note'];
                    result['code'] = -1;
                    return result;
                }
            }
            return result;
        }
        //非空验证
        function notEmpty(url){
            if(!url || url == ""){
                return {"code":-1,note:"不能为空"};
            }
            return {"code":1};
        }
        //初始化按钮
        function initButton(){
            $("button.download").click(function(){
                downloadUrl($("input.url").attr("value"),downloadType);
            })
            $("li.btnTabs").each(function(){
                $(this).click(function(){
                    if($(this).attr("dataType") == "message"){
                        downloadType = null;
                        layer.open({
                            title:"说明",
                            type:2,
                            content:rootPath+"/message",
                            area:["70%","60%"]
                        });
                    }else{
                        downloadType = "data/"+$(this).attr("dataType");
                    }
                });
            });
        }
        //设置进度条
        function setPrograss(number){
            $("div.am-progress-bar").attr("style","width: "+number+"%")
        }
        function init(){
            initButton();
        }
        init();
  })
</script>
</html>