<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>登录</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <link rel="stylesheet" href="styles/amazeui.min.css">
  <link rel="stylesheet" href="styles/app.css">
</head>
<body>
<div class="am-g myapp-login">
	<div class="myapp-login-logo-block">
		<div class="myapp-login-logo">
			<a href="#" class="homepage-logo">
            	<img src="images/misc/logo.png" alt="img">
        	</a>
		</div>
		<div class="myapp-login-logo-text">
			<div class="myapp-login-logo-text">
				<span>家庭智能控制系统</span>
				<div class="info">超级无敌宇宙最帅的托尼史塔克</div>
			</div>
		</div>

		<div class="login-font">
			
		</div>
		<div class="am-u-sm-10 login-am-center">
			<form class="am-form" method="post" action="/login">
				<fieldset>
					<div class="am-form-group">
						<input type="text" class="" id="user" name="user" placeholder="输入账户">
					</div>

					<div class="am-form-group">
						<input type="password" class="" id="password" name="password" placeholder="输入密码">
					</div>
					<p><input type="submit" class="am-btn am-btn-default"></input></p>
				</fieldset>
			</form>
		</div>
	</div>
</div>
提供智慧生活

<script type="text/javascript" src="scripts/jquery.js"></script>
<script type="text/javascript" src="scripts/amazeui.min.js"></script>
<script type="text/javascript" src="scripts/app.js"></script>
<script type="text/javascript">
	$(function(){
		$("input[type='submit']").click(function(){
		})
	})
</script>
</body>
</html>