<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>登录</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <link rel="stylesheet" href="styles/amazeui.min.css">
  <link rel="stylesheet" href="styles/app.css">
  <link href="styles/layui.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="am-g myapp-login">
	<div class="myapp-login-logo-block">
		<div class="myapp-login-logo">
			<a href="#" class="homepage-logo">
            	<img src="images/misc/logo.png" alt="img">
        	</a>
		</div>
		<div class="myapp-login-logo-text">
			<div class="myapp-login-logo-text">
				<span>家庭智能控制系统</span>
				<div class="info">超级无敌宇宙最帅的托尼史塔克</div>
			</div>
		</div>

		<div class="login-font">
			
		</div>
		<div class="am-u-sm-10 login-am-center">
			<form class="am-form" method="post">
					<div class="am-form-group">
						<input type="text" class="form" id="user" name="user" placeholder="输入账户">
					</div>

					<div class="am-form-group">
						<input type="password" class="form" id="password" name="password" placeholder="输入密码">
					</div>
			</form>
			<p><button class="am-btn am-btn-default btnLogin">登录</button></p>
		</div>
	</div>
</div>
提供智慧生活

<script type="text/javascript" src="scripts/jquery.js"></script>
<script type="text/javascript" src="scripts/amazeui.min.js"></script>
<script type="text/javascript" src="scripts/app.js"></script>
<script type="text/javascript" src="scripts/layui.all.js"></script>
<script type="text/javascript">
	$(function(){
		layui.use('layer', function(){
		  layer = layui.layer;
		});  
		function getParam(){
			return {
				user:$("#user").attr("value"),
				password:$("#password").attr("value")
			};
		}
		$("button.btnLogin").click(function(){
			$.ajax({
				url:window.document.location.href,
				data:getParam(),
				type:"post",
				dataType: "JSON",
				success:function(ret){
					if(ret && parseInt(ret['code']) >0){
						window.location.href=ret['message'];
					}else{
						layer.msg(ret['note']);
						return
					}
				}
			})
		})
	})
</script>
</body>
</html>