<!DOCTYPE HTML>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/splash/splash-icon.png">
<link rel="apple-touch-startup-image" href="images/splash/splash-screen.png" 			media="screen and (max-device-width: 320px)" />  
<link rel="apple-touch-startup-image" href="images/splash/splash-screen_402x.png" 		media="(max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2)" /> 
<link rel="apple-touch-startup-image" sizes="640x1096" href="images/splash/splash-screen_403x.png" />
<link rel="apple-touch-startup-image" sizes="1024x748" href="images/splash/splash-screen-ipad-landscape" media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : landscape)" />
<link rel="apple-touch-startup-image" sizes="768x1004" href="images/splash/splash-screen-ipad-portrait.png" media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : portrait)" />
<link rel="apple-touch-startup-image" sizes="1536x2008" href="images/splash/splash-screen-ipad-portrait-retina.png"   media="(device-width: 768px)	and (orientation: portrait)	and (-webkit-device-pixel-ratio: 2)"/>
<link rel="apple-touch-startup-image" sizes="1496x2048" href="images/splash/splash-screen-ipad-landscape-retina.png"   media="(device-width: 768px)	and (orientation: landscape)	and (-webkit-device-pixel-ratio: 2)"/>
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
<title href="images/logo.ico">设定</title>

<link href="styles/style.css"     		rel="stylesheet" type="text/css">
<link href="styles/framework.css" 		rel="stylesheet" type="text/css">
<link href="styles/owl.carousel.css" 	 rel="stylesheet" type="text/css">
<link href="styles/owl.theme.css" 		rel="stylesheet" type="text/css">
<link href="styles/swipebox.css"		 rel="stylesheet" type="text/css">
<link href="styles/colorbox.css"		 rel="stylesheet" type="text/css">

<script type="text/javascript" src="scripts/jquery.js"></script>
<script type="text/javascript" src="scripts/jqueryui.js"></script>
<script type="text/javascript" src="scripts/owl.carousel.min.js"></script>
<script type="text/javascript" src="scripts/jquery.swipebox.js"></script>
<script type="text/javascript" src="scripts/jquery.colorbox-min.js"></script>
<script type="text/javascript" src="scripts/snap.js"></script>
<script type="text/javascript" src="scripts/contact.js"></script>
<script type="text/javascript" src="scripts/custom.js"></script>
<script type="text/javascript" src="scripts/framework.js"></script>
<script type="text/javascript" src="scripts/framework.launcher.js"></script>


</head>
<body>

<div id="preloader">
	<div id="status">
        <p class="center-text">
            加载页面中...
            <em>页面加载中,请稍候...</em>
        </p>
    </div>
</div>

<div class="top-deco"></div>

<div class="content">
	<div class="header">
            <a href="#" style="padding: 15px">
                <button style="height: 200"></button>
            </a>
            <a href="/" class="go-home">首页</a>
            <a href="#" class="go-menu">菜单</a>
            <a href="#" class="go-back">关闭</a>
            <a href="logout" class="go-out">退出</a>
        </div>
    <div class="decoration"></div>
    
    <div class="navigation">
    	<div class="corner-deco"></div>
    	<div class="navigation-wrapper">
            <div class="navigation-item">
                <a href="/" class="home-icon">Homepage</a>
                <em class="inactive-menu"></em>
            </div>
            <div class="navigation-item">
                <a href="/">首页</a>
                <em class="active-menu"></em>
            </div>
            <div class="navigation-item">
                <a href="camera">查看监控</a>
                <em class="active-menu"></em>
            </div>
            <div class="navigation-item">
                <a href="download">离线下载</a>
                <em class="active-menu"></em>
            </div>
            <div class="navigation-item">
                <a href="storage">云存储</a>
                <em class="active-menu"></em>
            </div>
            <div class="navigation-item">
                <a href="theatra">家庭影院</a>
                <em class="active-menu"></em>
            </div>
            <div class="navigation-item">
                <a href="player">播放器</a>
                <em class="activen-menu"></em>
            </div>
        </div>
    </div>
</div>

<div class="content">    
    <div class="container no-bottom">
        <h3>设置和帮助界面</h3>
        <p>你可以在这里设置智能家庭控制系统的各类可调控选项，例如账户和密码，发现入侵者时的邮件发送选项，运动检测灵敏度，控制方法，离线下载的保存路径，音乐播放设置等等。同时，你也可以在这里查看设备的运行状态，获取一些帮助信息。 
    </div>

    <div class="decoration"></div>

    <div class="one-half-responsive">
        <div class="container no-bottom">
            <h4>开关设置</h4>
        </div> 
        <div class="container half-bottom">
            <div class="one-half">
                <a href="#" class="checkbox radio-two">帧率增强</a>
                <a href="#" class="checkbox radio-two">追踪增强</a>
            </div>
            <div class="one-half last-column">
                <a href="#" class="checkbox radio-two">开启预警</a>
                <a href="#" class="checkbox radio-two">预警邮件发送</a>
            </div>
        </div>  
    </div>
    <div class="decoration hide-if-responsive"></div>
    <div class="one-half-responsive last-column">
        <div class="container no-bottom">
            <h4>产品信息</h4>
        </div> 
        <div class="container">
            <div class="tabs">
                <a href="#" class="tab-but tab-but-1 tab-active">智能监控模块</a>
                <a href="#" class="tab-but tab-but-2">离线下载模块</a>
                <a href="#" class="tab-but tab-but-3">云存储模块</a>
                <a href="#" class="tab-but tab-but-4">家庭影院模块</a>   
                <a href="#" class="tab-but tab-but-5">音乐播放模块</a>       
            </div>
            <div class="clear"></div>
            <div class="tab-content tab-content-1">
                <p>
                    <img src="images/general-nature/1s.jpg" class="float-left" width="70" alt="img">
                    智能监控模块介绍
                </p>
            </div>
            <div class="tab-content tab-content-2">
                <p>
                    <img src="images/general-nature/2s.jpg" class="float-left" width="70" alt="img">
                    离线下载模块介绍                  
                </p>
            </div>
            <div class="tab-content tab-content-3">
                <p>
                    <img src="images/general-nature/3s.jpg" class="float-left" width="70" alt="img">
                    云存储模块介绍                    
                </p>
            </div>
            <div class="tab-content tab-content-4">
                <p>
                    <img src="images/general-nature/4s.jpg" class="float-left" width="70" alt="img">
                    家庭影院模块介绍                  
                </p>
            </div>   
            <div class="tab-content tab-content-5">
                <p>
                    <img src="images/general-nature/4s.jpg" class="float-left" width="70" alt="img">
                    音乐播放模块介绍                
                </p>
            </div>     
        </div>      
    </div>
    
    <div class="decoration"></div>
           
    <div class="one-half-responsive">
        <div class="container">
            <div class="submenu-navigation">
                <a href="#" class="submenu-nav-deploy">安全</a>
                <div class="submenu-nav-items">
                    <a href="#">登录密码修改</a>
                    <a href="#">预警邮箱修改</a>
                    <a href="#">发送邮箱修改</a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="submenu-navigation">
                <a href="#" class="submenu-nav-deploy">控制</a>
                <div class="submenu-nav-items">
                    <a href="#">预警间隔修改</a>
                    <a href="#">画面素质修改</a>
                    <a href="#">追踪器类型修改</a>
                    <a href="#">运动检测器类型修改</a>
                </div>
            </div>
        </div>
    </div>
    <div class="one-half-responsive last-column">
        <div class="container">
            <div class="toggle-1">
                <div class="container">
                    <div class="submenu-navigation">
                        <a href="#" class="submenu-nav-deploy">运行状态</a>
                        <div class="submenu-nav-items">
                            <a href="#">camera信息</a>
                            <a href="#">爬虫状态</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container">
            <div class="container">
                    <div class="submenu-navigation">
                        <a href="#" class="submenu-nav-deploy">机器状态</a>
                        <div class="submenu-nav-items">
                            <a href="#">cpu</a>
                            <a href="#">内存</a>
                            <a href="#">存储</a>
                            <a href="#">可视化</a>
                        </div>
                    </div>
                </div>
        </div>
    </div>

    <div class="decoration"></div>


    <div class="container no-bottom">
        <h4>联系作者</h4>
    </div>         
    <div class="container no-bottom">                
        <div class="one-half-responsive">
            <div class="sliding-door">
                <div class="sliding-door-top">
                    <a href="#"><em></em>
                        点击查看作者电话!
                    </a>
                </div>    
                <div class="sliding-door-bottom">
                    <a href="javascript:void(0);"><em></em>
                        <strong>Call us:</strong> 
                        +86 12365478963
                    </a>
                </div>
            </div>
            <div class="sliding-door-clear"></div>
        </div>
        <div class="one-half-responsive last-column">
            <div class="sliding-door">
                <div class="sliding-door-top">
                    <a href="#"><em></em>
                        点击查看作者邮箱!
                    </a>
                </div>    
                <div class="sliding-door-bottom">
                    <a href="mailto:name@domain.com"><em></em>
                        <strong>Mail us:</strong> 
                        763484204@qq.com
                    </a>
                </div>
            </div>
            <div class="sliding-door-clear"></div>
        </div>
    </div> 
    
    <div class="decoration"></div>
            
    <div class="footer">
        <div class="clear"></div>
        <p class="copyright">
            COPYRIGHT 2018.<br>
            ALL RIGHTS RESERVED
        </p>
    </div> 
    
</div>

<div class="bottom-deco"></div>



</body>
</html>