<!DOCTYPE HTML>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/splash/splash-icon.png">
<link rel="apple-touch-startup-image" href="images/splash/splash-screen.png" 			media="screen and (max-device-width: 320px)" />  
<link rel="apple-touch-startup-image" href="images/splash/splash-screen_402x.png" 		media="(max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2)" /> 
<link rel="apple-touch-startup-image" sizes="640x1096" href="images/splash/splash-screen_403x.png" />
<link rel="apple-touch-startup-image" sizes="1024x748" href="images/splash/splash-screen-ipad-landscape" media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : landscape)" />
<link rel="apple-touch-startup-image" sizes="768x1004" href="images/splash/splash-screen-ipad-portrait.png" media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : portrait)" />
<link rel="apple-touch-startup-image" sizes="1536x2008" href="images/splash/splash-screen-ipad-portrait-retina.png"   media="(device-width: 768px)	and (orientation: portrait)	and (-webkit-device-pixel-ratio: 2)"/>
<link rel="apple-touch-startup-image" sizes="1496x2048" href="images/splash/splash-screen-ipad-landscape-retina.png"   media="(device-width: 768px)	and (orientation: landscape)	and (-webkit-device-pixel-ratio: 2)"/>
<title>家庭影院</title>
<link href="styles/style.css" rel="stylesheet" type="text/css">
<link href="styles/framework.css" rel="stylesheet" type="text/css">
<link href="styles/owl.carousel.css" rel="stylesheet" type="text/css">
<link href="styles/owl.theme.css" rel="stylesheet" type="text/css">
<link href="styles/swipebox.css" rel="stylesheet" type="text/css">
<link href="styles/colorbox.css" rel="stylesheet" type="text/css">
<link href="styles/amazeui.min.css" rel="stylesheet" type="text/css">
<link href="styles/layui.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="scripts/jquery.js"></script>
<script type="text/javascript" src="scripts/jqueryui.js"></script>
<script type="text/javascript" src="scripts/owl.carousel.min.js"></script>
<script type="text/javascript" src="scripts/jquery.swipebox.js"></script>
<script type="text/javascript" src="scripts/jquery.colorbox-min.js"></script>
<script type="text/javascript" src="scripts/snap.js"></script>
<script type="text/javascript" src="scripts/contact.js"></script>
<script type="text/javascript" src="scripts/custom.js"></script>
<script type="text/javascript" src="scripts/framework.js"></script>
<script type="text/javascript" src="scripts/framework.launcher.js"></script>
<script type="text/javascript" src="scripts/amazeui.min.js"></script>
<script type="text/javascript" src="scripts/handlebars.min.js"></script>
<script type="text/javascript" src="scripts/amazeui.widgets.helper.js"></script>
<script type="text/javascript" src="scripts/layui.all.js"></script>

</head>
<body>

<div id="preloader">
    <div id="status">
        <p class="center-text">
            加载页面中...
            <em>页面加载中,请稍候...</em>
        </p>
    </div>
</div>
</div>

<div class="top-deco"></div>

<div class="content">
	<div class="header">
            <a href="#" style="padding: 15px">
                <button style="height: 200"></button>
            </a>
            <a href="#moveClassification" data-am-offcanvas>电影类别>></a>
            <a href="/" class="go-home">首页</a>
            <a href="#" class="go-menu">菜单</a>
            <a href="#" class="go-back">关闭</a>
            <a href="logout" class="go-out">退出</a>
        </div>
    <div class="decoration"></div>
    
    <div class="navigation">
    	<div class="corner-deco"></div>
    	<div class="navigation-wrapper">
            <div class="navigation-item">
                <a href="/">首页</a>
                <em class="active-menu"></em>
            </div>
            <div class="navigation-item">
                <a href="camera">查看监控</a>
                <em class="active-menu"></em>
            </div>
            <div class="navigation-item">
                <a href="download">离线下载</a>
                <em class="active-menu"></em>
            </div>
            <div class="navigation-item">
                <a href="storage">云存储</a>
                <em class="active-menu"></em>
            </div>
            <div class="navigation-item">
                <a href="music">音乐</a>
                <em class="active-menu"></em>
            </div>
            <div class="navigation-item">
                <a href="setting">设定</a>
                <em class="activen-menu"></em>
            </div>
        </div>
    </div>
</div>

<div class="content">
  <div class="display">
  <script type="text/x-handlebars-listTemplate" id="move-tp">
    {{>gallery move}}
  </script>
</div>
<div id="moveClassification" class="am-offcanvas">
  <div class="am-offcanvas-bar">
    <div class="am-offcanvas-content classificationDisplay">
      
    </div>
  </div>
</div>
  <ul data-am-widget="pagination" class="am-pagination am-pagination-select pageSelect" nowPage="0">
      <li class="am-pagination-prev ">
        <a href="#" class="pageButton" classification="-1">上一页</a>
      </li>
      <li class="am-pagination-next ">
        <a href="#" class="pageButton" classification="1">下一页</a>
      </li>
  </ul>
	<div class="decoration"></div>            
    <div class="footer">
        <div class="clear"></div>
        <p class="copyright">
            COPYRIGHT 2015.<br>
            ALL RIGHTS RESERVED
        </p>
    </div> 
</div>
<div class="bottom-deco"></div>
<script type="text/javascript">
  $(function(){
    //模板编译器
    var moveListTemplate = getTemplate($('#move-tp'));

    //获得模板编译器
    function getTemplate(ele){
      var $template = ele;
      var template = $template.text();
      return  Handlebars.compile(template);
    }
    //去除非中文字符
    function trim(str){
      return str.replace(/[^\u4e00-\u9fa5|,]+/,'').replace(/&nbsp;/ig,'')
    }
    //截取字符串
    function cut(string,length){
      return string?string.substring(0,length?length:100):"None"
    }
    //获得电影分类html
    function getMoveClassifycation(datas){
      var html = '';

      for(var i = 0;i < datas.length;i++){
        html += '<a href="javascript:void(0)" class="classificationButton" value="'+datas[i]+'">'+datas[i]+'</a></br>';
      }
      return html;
    }
    //渲染电影分类页面
    function renderMoveClassification(html){
      $("div.classificationDisplay").html(html);
    }
    //电影分类去重
    function getClassificationList(datas){
      var classes = []
      for(var i = 0;i < datas.length;i++){
        if(datas[i]['classification']){
          var tempdatas = trim(datas[i]['classification']).split("/");
          classes.push.apply(classes,tempdatas);
        }
      }
      return Array.from(new Set(classes));
    }
    //获得电影列表html
    function getMoveList(datas,template){
      var content = [];
      for(var i = 0;i < datas.length;i++){
        var data = datas[i];
        content.push({
                    "img":data['titleImage'],
                    "title":data['moveName'],
                    "link":"javascript:void(0)",
                    "className":'detail '+data['_id'],
                    "desc":'<div">'+data['classification']+'</div>'})
      }
      return template({
              move:{
                "id": "",
                "className": "",
                "theme": "",
                "options": {
                  "cols": 3,  // 列数
                },
                //内容（*为必备项）
                "content":content
              }
            })
    }  
    //渲染电影列表界面
    function renderMoveList(html){
      $("div.display").html(html);
      initImg();
    }
    //渲染电影分类
    function querymoveClassifycation(){
      $.ajax({
        url:"data/move",
        dataType:"json",
        type:"post",
        data:{
          condition:{},
          field:{"classification":1,_id:0}
        },
        success:function(data){     
          data = getClassificationList(data)     
          renderMoveClassification(getMoveClassifycation(data));
          initClassificationButton();
        }
      })
    }
    //绑定图片加载事件
    function initImg(){
      $("img").error(function(){
        $(this).attr("src","images/error.png");
      });
    }
    //渲染电影列表
    function queryMoveList(pageNumber,condition,isClassifi){
      $.ajax({
        url:"data/move",
        dataType:"json",
        type:"post",
        data:{
          page:pageNumber,
          pageSize:9,
          condition:condition,
          field:{titleImage:1,moveName:1,summary:1,classification:1},
        },
        success:function(data){
          renderMoveList(getMoveList(data,moveListTemplate));
        }
      })
    }
    //刷新页面
    function refrashPage(classification){
      var nowPage = parseInt($("ul.pageSelect").attr("nowPage"));
      var condition = $("ul.pageSelect").attr("nowClassification")?{"classification":$("ul.pageSelect").attr("nowClassification")}:{};
      console.log(condition);
      queryMoveList(nowPage + classification,condition,0);
      $("ul.pageSelect").attr("nowPage",nowPage + classification);
    }
    //电影类型按钮事件
    function classificationButtonAction(){
      $(this).click(function(){
        var value = $(this).attr("value");
          queryMoveList(1,{"classification":value},1)
          console.log(value);
          $("ul.pageSelect").attr("nowPage",1);
          $("ul.pageSelect").attr("nowClassification",value);
      })
    }
    //电影搜索事件
    function searchMove(condition){
      queryMoveList(1,condition,0);
    }
    //初始化类型按钮
    function initClassificationButton(){
      $("div.classificationDisplay").find("a.classificationButton").each(function(){
        classificationButtonAction.call($(this));
      });
    }
    //初始化按钮
    function initButton(){
      $("a.pageButton").each(function(){
        $(this).click(function(){
          var classification = parseInt($(this).attr("classification"))
          refrashPage(classification);
        })
      })
    }
    function init(){
      refrashPage(1);
      initButton();
      querymoveClassifycation();
      initImg();
    }
    init();
  })
</script>
</body>
</html>